<h1> Departments </h1>

<% @departments.each do |department| %>
  <div id= <%= "#{department.id}" %>>
    <p>Department Name: <%= department.name %> </p>
    <p>Department Floor: <%= department.floor %> </p>
    <p>Department Employees: <% department.employees.each do |e| %>
                                <%= e.name %> 
                             <% end %> </p>
  </div>
<% end %>